---
// ExperienceElement.astro
const { company, href, imageSrc, location, department, position, duration } = Astro.props;
---

<div class="experience-element">
    <div class="image">
        <img src={imageSrc} alt="PaperImg" />
    </div>
    <div class="content">
        <p>
            <a href={href}>
                <strong>{company}</strong>
            </a>
            - {location}
            <br>
            <br>
            {department}, {position}
            <br>
            <em>{duration}</em>
        </p>
    </div>
</div>

<style>
    .experience-element {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 90%; 
        max-width: 1000px;
        margin-left: 20px;
        margin-right: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .experience-element:hover {
        transform: translateY(-5px);
    }

    .image {
        flex: 0 0 15%;
        max-width: 30%;
    }

    .image img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
    }

    .content {
        flex: 1;
        padding: 2vw;
        text-align: left; 
    }

    .content a {
        font-size: 1.3rem;
        text-decoration: none;
        color: inherit;
    }

    .content a:hover {
        text-decoration: underline;
    }

    .content p {
        margin: 0;
        font-size: 1.15rem;
        color: rgba(0,0,0,0.9);
    }
</style>