---
// MarkdownPostLayout.astro
import TableOfContents from '../components/TableOfContents.astro';
const {frontmatter, headings} = Astro.props;
import Header from '../components/FixedHeader.astro';
import '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/katex@0.15.1/dist/katex.css" integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM" crossorigin="anonymous">
    </head>
    <body>
        <Header />
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> 
        <div class="layout-container">
            <aside class="toc" id="toc">
                <TableOfContents headings={headings} />
            </aside>
            <div class="content-wrapper">
                <h1>{frontmatter.title}</h1>
                <p><em><strong>Team</strong>: {frontmatter.team}</em></p>
                <p><em><strong>Supervisor</strong>: {frontmatter.supervisor}</em></p>
                <article>
                    <slot />
                </article>
            </div>
        </div>
    </body>
</html>

<style>
    .layout-container {
        display: flex;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .toc {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 2%;
        box-sizing: border-box;
    }

    .content-wrapper {
        flex: 1;
        padding-left: 8%;
        box-sizing: border-box;
    }

    p {
        font-size: 1.3em;
        line-height: 1;
        margin-bottom: 1em;
    }

    article {
        font-size: 1.15em;
        line-height: 2;
    }

    @media (max-width: 768px) {

        .layout-container {
            flex-direction: column;
        }

        .toc {
            display: none;
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
            background-color: #f7f7f7;
        }

        .content-wrapper {
            padding-left: 0;
            width: 100%;
        }
    }
</style>